.wrap-home {
    margin: 0 30rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.wrap-top {
    width: 100%;
    margin: 6rem 0 10rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.wrap-top-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 0 1 55%;
} 

h2 {
    font-size: 4rem;
    background-image: linear-gradient(120deg, #6EB9FC,#FA8DB6,#F7CA80);
    background-clip: text;
    color: transparent;
} 
.description {
    font-size: 1.2rem;
    font-weight: 700;
    color: #73737394;
    line-height: 2;
}

.img-work {
    flex: 0 1 60%;
    max-width: 50%;
    object-fit: contain;
    transition: all 0.3s ease;
    position: absolute;
    right: -135px;
    top: 35%;
    transform: translateY(-50%);
    z-index: 1;
}

.url {
    padding: 2.5rem;
    background-image: url('../images/bg-shorten-desktop.svg');
    background-color: hsl(257, 27%, 26%);
    background-size: cover;
    background-repeat: no-repeat;   
    border-radius: 10px;
    width: 100%;

    display: flex;
    gap: 1rem;
}

.url-field-container {
    width: 100%;
    position: relative; 
    border-radius: 5px;
}

.url-field {
    width: 100%;
    border-radius: 5px;
    border: 2px solid transparent;
    outline: none;
    padding: 1rem;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.url-field::placeholder {
    font-weight: 800;
    color: #73737394; 
    transition: color 0.3s ease;
}

.url-btn {
    width: 25%;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #2AD0D3;
    color: #fff;
    font-weight: bold;
}

.url-btn:hover {
    background-color: #6abecd;
}

.error-border {
    border-color: rgb(248, 73, 73);
}

.error-border::placeholder {
    color: rgb(250, 148, 148); /* Placeholder vermelho quando houver erro */
}

.error-message {
    display: block;
    color: rgb(248, 73, 73);
    background: none;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    margin-top: 8px;
    position: absolute;
    bottom: -24px; 
    left: 0;
}

@media (max-width: 1800px) {
    .wrap-home {
        margin: 0 20rem;
    }
}

@media (max-width: 1380px) {
    .wrap-home {
        margin: 2rem 10rem;
    }
    .wrap-top {
        margin: 6rem 0 11rem 0;
    }
    .img-work {
        right: -235px;
        top: 35%;
    }
}

@media (max-width: 1240px) {
    .wrap-home {
        margin: 2rem 5rem;
    }
    .wrap-top-left {
        flex: 0 1 50%;
    } h2 {
        font-size: 3.5rem;
    } 
    .description {
        font-size: 1.1rem;
    }
    .img-work {
        right: -12rem;
        max-width: 60%;
    }
}

@media (max-width: 970px) {
    .wrap-home {
        margin: 2rem 3rem;
    }
    .wrap-top-left {
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .wrap-top-left h2 {
        font-size: 3rem;
    }
    .img-work {
        position: absolute;
        right: -130px;
        width: 100%;
    }
}

@media (max-width: 700px) {
    .wrap-home {
        margin: 2.5rem 1.5rem;
        gap: 3rem;
    }
    .wrap-top {
        margin-bottom: 24rem;
    }
    .wrap-top-left {
        position: absolute;
        bottom: 235px;
    }
    .wrap-top-left h2 {
        font-size: 2.5rem;
    }
    .img-work {
        width: auto;
        max-width: 100%;
        top: 140px;
        right: -60px;
    }
    .url {
        flex-direction: column;
        margin-top: 2.5rem;
        padding: 2rem;
        gap: 2.5rem;
    }
    .url-field,
    .url-btn {
        width: 100%;
        padding: 1rem;
    }
}

@media (max-width: 600px) {
    .wrap-top {
        margin-bottom: 21rem;
    }
}

@media (max-width: 500px) {
    .wrap-home {
        margin: 0 1.5rem;
    }
    .img-work {
        max-width: 110%;
    }
}