.container-shortened {
    margin: 2rem 0;
    width: 100%;
}

.shortened-urls {
    margin: 0rem 30rem;
    background-color: transparent;
    // padding-bottom: 4rem;
}

.url-item {
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    // background-color: hsla(258, 26%, 77%, 0.192);
}

.url-item span {
    // margin: 1rem 0;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: 5px;
}

.url-item a {
    font-weight: 700;
    color: #2AD0D3;
    text-decoration: none;
}

.url-item a:hover {
    text-decoration: underline;
}

.copy-btn {
    padding: 10px 24px;
    background-color: #2AD0D3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.copy-btn:hover {
    background-color: #6abecd;
}

@media (max-width: 1800px) {
    .shortened-urls {
        margin: 0 20rem;
    }
}

@media (max-width: 1380px) {
    .shortened-urls {
        margin: 2rem 10rem;
    }
}

@media (max-width: 1240px) {
    .shortened-urls {
        margin: 2rem 5rem;
    }
}

@media (max-width: 970px) {
    .shortened-urls {
        margin: 2rem 3rem;
    }
}

@media (max-width: 700px) {
    .shortened-urls {
        margin: 0rem 1.5rem;
    }
}